In [7]:
 """ Q1 : Explain with an example each when to use a for loop and a while loop."""
"""For Loop: A for loop is an iteration method thatis best used when you know the number of iterations
           ahead of time. Itâ€™s alwaysfollowed by the initialization, expression and increment statements."""
print("Example of for loop")
for x in "banana":
  print(x)
""" For While : A while loop is an iteration method that is best used when you don't know the number of iterations ahead 
               of time. The contents of the loop are executed as long as the expression evaluates to true."""
print("Eaxmple of while loop")
i = 1
while i < 6:
  print(i)
  i += 1

Example of for loop
b
a
n
a
n
a
Eaxmple of while loop
1
2
3
4
5

In [ ]:
"""Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user willbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250."""

Units = int(input("Enter the Unit of Electricity: "))
if Units<=100:
    Electricity_Bill = Units*4.5
elif 100<Units<=200:
    Unit_1 = Units-100
    Electricity_Bill = Unit_1*6+ 100*4.5
elif 200<Units<=300:
  Unit_2 = Units-200
  Electricity_Bill = Unit_2*10 + 100*6 +100*4.5
else:
  Unit_3 = Units-300
  Electricity_Bill = Unit_3*20 + 100*6 +100*4.5 +100*10
print("Electricity Bill of ",Units,"is equal to ",Electricity_Bill)

Enter the Unit of Electricity: 310
Electricity Bill of  310 is equal to  2250.0

In [ ]:
"""Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop."""
# Program with for loop
num = int(input("Enter the range of natural number: "))
Sum =0
Product = 1
for i in range(1,num+1):
  Sum = Sum + i
  Product = Product * i
print("The sum of first ",num,"numbers is ",Sum)
print("The product of first",num,"numbers is ",Product)

Enter the range of natural number: 10
The sum of first  10 numbers is  55
The product of first 10 numbers is  3628800

In [ ]:
"""Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop."""
# Program with while loop
num = int(input("Enter the range of natural number: "))
Sum =0
Product = 1
i = 1
while i<num+1:
  Sum = Sum + i
  Product = Product * i
  i = i+1
print("The sum of first ",num,"numbers is ",Sum)
print("The product of first",num,"numbers is ",Product)

Enter the range of natural number: 10
The sum of first  10 numbers is  55
The product of first 10 numbers is  3628800

In [ ]:
"""Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list."""
l1 = list(range(1,100))
print("List of 1 to 100 numbers",l1)
l2 =[]
print("Cube of each number from 1 to 100")
for i in (l1):
  cube = i*i*i
  print(cube)
  if (cube%4 ==0) or (cube%5 ==0):
    l2.append(i)
print(l2)

List of 1 to 100 numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Cube of each number from 1 to 100
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98]

In [ ]:
"""Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"""
str = "I want to become a data scientist"
s = str.lower()
print(s)
vowels = ['a', 'e', 'i', 'o', 'u']
count = 0
for vowel in vowels:
    for char in s:
        if char == vowel:
            count += 1

# Print the count of vowels
print("Number of vowels in the given string:", count)